{% extends 'vani.html' %}
{% load static %}
{% block content%}

    <br>
    <h2>Transaction Order</h2>
    <p>Please fill out the forms</p>
    </div>   


<center>
    <select name="game" style="width: 130px;" id="selectgame" placeholder="Select Game:" required>
                <option value ="" disabled selected="">Select Game:</option><br>
                <option value ="ml">Mobile Legends</option><br>
                <option value ="valo">Valorant</option>
                <option value="cod">Call of Duty Mobile</option>
                <option value="dota">Dota 2</option>

    </select>
</center><br>
<center>
    <select name="ticket" style="width: 130px;" id="selectticket" placeholder="Select Ticket type:" required>
                <option value ="" disabled selected="">Select Ticket Type:</option><br>
                <option value ="vip">VIP-Php 1000</option><br>
                <option value ="patron">Patron-Php 800</option>
                <option value="lowerbox">Lower Box-Php 600</option>
                <option value="genad">General Admission-Php 400</option>

    </select>
</center>
<br>
<center>
    <select name="quantity" style="width: 130px;" id="selectquantity" placeholder="Select Quantity:" required>
                <option value ="" disabled selected="">Select Quantity:</option><br>
                <option value ="1">1</option><br>
                <option value ="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
    </select>
</center>
<center>
    <br>
    <select name="payment" style="width: 130px;" id="selectpayment" placeholder="Select Payment:" required>
                <option value ="" disabled selected="">Select Payment:</option><br>
                <option value ="gcash">Gcash</option><br>
                <option value ="paymaya">Paymaya</option>
                <option value="coins">Coins PH</option>
    </select>
<br><br>
    <select name="courier" style="width: 130px;" id="selectcourier" placeholder="Select Courier:" required>
                <option value ="" disabled selected="">Select Courier:</option><br>
                <option value ="ninja">Ninja Van</option><br>
                <option value ="lbc">LBC</option>
                <option value="jnt">J%T Express</option>
    </select>

<br><br>
<label for="date" ><p2>Date Today<p2><br></label>
  <input type="date" id="deliverydate" name="orderdate">
</td>


<br><br>
<label for="date"><p2>Preferred Delivery Date<p2><br></label>
  <input type="date" id="deliverydate" name="deliverydate">

</td>

<center>
    <br>
    <input id="btnConfirm" type="submit" value="Proceed"/>
</center>

    <br><br>

    </table>
    </form>

{% endblock %}