{% extends 'template.html' %}

{% block content %}

<title>E-Sports Events</title>
<style type="text/css">
  table, th, td {
  border-bottom: 1px solid #ddd;
  }
</style>  
<h1>User Personal Information</h1>
 
<table class="content-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact Number</th>
      <th>Email Address</th>
      <th>Ticket Type:</th>
      <th>Quantity:</th>
      <th>Mode of Payment:</th>
      <th>Courier:</th>
      <th>Delivery Date:</th>
    </tr>

  </thead>
  {%for item in data%}
    <tbody>
      <tr>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.contactnumber}}</td>
        <td>{{item.emailaddress}}</td>
        <td>{{item.game}} </td>
        <td>{{item.ticket}}</td>
        <td>{{item.payment}}</td>
        <td>{{item.courier}}</td>
        <td>{{item.transactiondate}}</td>
        <td>{{item.deliverydate}}</td>
        <td>
    
        </td> 
      </tr>

    </tbody>
  {%endfor%}
  </tbody>
</table>
{% endblock %}